/* color temp */
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.color-third {
    color: $color-third;
}
.color-last {
    color: $color-last;
}
.color-last-bg {
    background: $color-last;
}
.color-secondary-bg {
    background: $color-secondary;
}
.color-black {
    color: $color-black;
}

.color-black-bg {
    background: $color-black;
}
.button-first {
    background: $color-last;
}