$font-cairo : "Cairo", cursive;
$font-rubik : "Rubik" , cursive;
$font-fira : "Fira Sans" , cursive;
$color-primary: #2d3436;
$color-secondary : #dfe6e9;
$color-third: #be63b7;
$color-last: #d63031;
$color-black: #060001; 